:root{
  --coolgrn : #C7FF2F;
  --smallfont : 'DM Sans', sans-serif;
  --bigfont : 'Syne' , sans-serif;
  --greyy : #666666;
  --generalPadding:1rem 5.3rem;


}

a:hover {
  transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button{
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover{
  cursor: pointer;
  transform: scale(1.05);
}
/* header */
.header{

  position: fixed;
  display: flex;
  padding:1rem 5.3rem;
  justify-content: space-between;
  background-color: black;
  border-bottom: 0.1rem solid #66666650;
  height: 4rem;
  align-items: center;
  width: 100%;
  top: 0px;
  bottom:0px;
}

.header .Left a {
  color: white;
  font-family: var(--bigfont);
  font-size: 1.7rem;
  font-weight: 800;
  text-decoration: none;
}

.header .Left span {
  color: var(--coolgrn);
}

.header .Right .links a{
  margin: 0rem 1rem;
  color:var(--greyy);
  text-decoration: none;
    font-family: var(--smallfont);

} 

.header .Right .links a:hover{
  color: var(--coolgrn);
} 
/* header end  */

/* first secn */

.firstSecn {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding:var(--generalPadding);
  padding-top:20rem;  
  height: 100vh;
}
.firstSecn .content .oval{
  font-size: 0.9rem;
  height: 2rem;
  color: #C7FF2F;
  background-color: #C7FF2F20;
  border: solid #C7FF2F40 0.1rem;
  border-radius: 2rem;
  width: 14rem;
  font-family: var(--smallfont);
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSecn .content .name{
  font-family: var(--bigfont);
  font-size: 7rem;
  color: white;
  font-weight: 800;

}
.firstSecn .content .name span{
  display: block;
  font-family: var(--bigfont);
  font-size: 7rem;
  color: var(--coolgrn);
  font-weight: 800;
}
.firstSecn .content .abt{
  color: var(--greyy);
  width: 30rem;
  font-size: 1.1rem;
  font-family: var(--smallfont);
}
.firstSecn .content .btns{
  display: flex;
  margin-top: 1.4rem;
  width: 23rem;
  justify-content: space-between;

}
.firstSecn .content .btns .grn{
  background-color: var(--coolgrn);
  width: 11rem;
  height: 3.4rem;
  border-radius: 0.6rem;
}
.firstSecn .content .btns .blk{
  background-color: black;
  width: 11rem;
  height: 3.4rem;
  border-radius: 0.6rem;
  color: white;
  border: solid #66666680 0.01rem;
}

.firstSecn .btndown p{
  font-family: var(--smallfont);
  font-size: 1rem;
  color: #666666;

}
.firstSecn .btndown{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1rem;
}

.firstSecn .btndown .line{
  background-color: var(--greyy);
  width: 40px;
  height: 1px;
}

/* first secn End */

















/* second Section */
.secondSecn .content {
  display: flex;
  background-color: #111111;
  padding: var(--generalPadding);
  padding-top:5rem ;
  padding-bottom:5rem ;

}

.secondSecn .content .left{
  flex:1 1 0;
}
.secondSecn .content .right{
  flex:1 1 0;
}
.secondSecn .content .left .smalltop{
  font-family: var(--smallfont);
  color: var(--greyy);
  font-size: 1.3rem;
  font-weight: 10;
  margin-bottom: 1rem;

}
.secondSecn .content .left .big{
  font-family: var(--bigfont);
  color: white;
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 1rem;

}
.secondSecn .content .left .small{
  font-family: var(--smallfont);
  color: var(--greyy);
  font-size: 1rem;
    margin-bottom: 1rem;


}
.secondSecn .content .left .small span{
  font-family: var(--smallfont);
  color: white;

}

.secondSecn .content .right .boxes{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;

}

.secondSecn .content .right .boxes div{
  background-color: black;
  border: solid 0.1rem #66666650;
  width: 20rem;
  height: 7rem;
  border-radius:0.7rem ;
  padding:1rem 1rem ;
  transition: all 0.3s ease;
}

.secondSecn .content .right .boxes div .grn{
  color: var(--coolgrn);
  font-weight: 800;
  font-size: 3rem;
  font-family: var(--bigfont);
}
.secondSecn .content .right .boxes div .wht{
  color: var(--greyy);
  font-family: var(--smallfont);
  font-size: 1rem;
}

.secondSecn .content .right .boxes div:hover{
  border: solid 0.1rem var(--coolgrn);

}

/* second Section End */












/* Third section */
.thirdSecn .content{
  background-color: black;
  padding: var(--generalPadding);

}

.thirdSecn .content{
  background-color: black;
  padding: var(--generalPadding);
  padding-top: 6rem;
  padding-bottom: 6rem;


}

.thirdSecn .content .wik{
  margin-bottom: 0.5rem;
  color: var(--coolgrn);
  font-family: var(--smallfont);
  font-size: 1rem;
  letter-spacing:0.2rem;
}
.thirdSecn .content .s{
  margin-bottom: 1.4rem;
  color: white;
  font-family: var(--bigfont);
  font-weight: 800;
  font-size: 3rem;
}

.thirdSecn .content>div{
  margin-top: 5rem;
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
}
.thirdSecn .content>div>div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background-color: #111111;
  width: 10rem;
  height: 6rem;
  color:#666666;
  font-family: var(--smallfont);
  transition: all 0.6s ease;

}


.thirdSecn .content>div>div:hover{
  border: solid 0.1rem var(--coolgrn);
  /* transform: scaleX(-2); */
  transform: translateY(-10px);

  }

/* Third section End*/










/* Fourth Secn */

.fourthSecn .content{
  padding: var(--generalPadding);
  background-color: #111111;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.fourthSecn .content .small-label{
  font-family: var(--smallfont);
  color: var(--coolgrn);
  font-size: 1rem;
  letter-spacing: 0.25rem;
  margin-bottom: 0.5rem;
  
}

.fourthSecn .content .big-title{
    margin-bottom: 2.5rem;
  font-family: var(--bigfont);
  font-weight: 800;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  
}



.fourthSecn .content .cards .card:hover{
transform:translateY(-10px);
border: solid 0.1rem var(--coolgrn);

}


.fourthSecn .content .cards{
  gap:2rem;
  display: flex;
  width: 80rem;
}

.fourthSecn .content .cards .card:hover::before{
  opacity: 1;
  width: 100%;


}

.fourthSecn .content .cards .card::before{
  opacity: 0;
  content: "";
  position:absolute;
  top:0;
  left:50%;
  width: 0px;
  transform:translateX(-50%);
  height: 0.2rem;
  background-color: #C7FF2F;
  transition: opacity 0.3s ease;
  transition: width 0.3s ease;
}

.fourthSecn .content .cards .card{
  position:relative;

  transition: border-color 0.3s ease;
  transition: transform 0.5s ease;

  padding: 2.4rem;
  height: 18rem;
  width: 23rem;
  background-color: black;
  border: solid 0.1rem var(--greyy);
  border-radius: 0.5rem;
 
}
.fourthSecn .content .cards .inactive{
opacity: 0.3;
position:static;
}

.fourthSecn .content .cards .inactive:hover{
  border: solid 0.1rem var(--greyy);

transform: none;
}

.fourthSecn .content .cards .card .tag{

  font-size: 0.7rem;
  height: 2rem;
  color: #C7FF2F;
  background-color: #C7FF2F20;
  border: solid #C7FF2F40 0.1rem;
  border-radius: 2rem;
  width: 7rem;
  font-family: var(--smallfont);
  display: flex;
  justify-content: center;
  align-items: center;
 margin-bottom: 1rem;
}


.fourthSecn .content .cards .card .card-title{
  font-family: var(--bigfont);
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.fourthSecn .content .cards .card .card-desc{
  font-size: 1rem;
  font-family: var(--smallfont);
  color: var(--greyy);
  margin-bottom: 1rem;
}

.fourthSecn .content .cards .card .stack{
  display: flex;
  margin-bottom: 1rem;
  gap: 0.4rem;

}

.fourthSecn .content .cards .card .stack .stack-tag{
  background-color: #111111;
  font-family: var(--smallfont);
  display: flex;
  border-radius: 0.3rem;
  border: solid #11111190 0.1rem;
  color: var(--greyy);
  width: 4rem;
  font-size: 1rem;
justify-content: center;
}

.fourthSecn .content .cards .card .card-links {
  font-family: var(--smallfont);
  display: flex;
  gap: 1rem;
  color: var(--greyy);
  text-decoration: none;
  margin-bottom: 1rem;
  
}
.fourthSecn .content .cards .card .card-links a{
  font-family: var(--smallfont);

  color: var(--greyy);
  text-decoration: none;
}

.fourthSecn .content .cards .card .card-links a:hover{
  color: var(--coolgrn);
}

/* Fourth Secn End */















/* fifth Secn */
.fifthSecn .content {

  padding: var(--generalPadding);
  padding-bottom: 8rem;
  padding-top: 8rem;
  background-color: #000000;
}


.fifthSecn .content .git{
  margin-bottom: 1rem;
  color: var(--coolgrn);
  letter-spacing: 0.1rem;
  font-family: var(--smallfont);
  font-size: 0.7rem;
}
.fifthSecn .content .lt{
  margin-bottom: 4rem;
  font-weight: 800;
  color: white;
  font-family: var(--bigfont);
  font-size: 3rem;
}

.fifthSecn .content .form{
  font-family: var(--smallfont);
  color: var(--greyy);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fifthSecn .content .form div{
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 0.6rem;
  
}

.fifthSecn .content .form div{
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 0.6rem;
  
}

.fifthSecn .content .form div input, .fifthSecn .content .form div textarea {
  background-color:#111111 ;
  border: 0rem;
  border-radius: 0.3rem;
  border: solid 0.5rem #11111150;
  height: 2.5rem;
  
}
 .fifthSecn .content .form div textarea{
  height: 10rem;
 }


  .fifthSecn .content .form div button{
    margin-top: 1rem;
    width: 11rem;
    height: 3rem;
    background-color: var(--coolgrn);
    border-radius: 0.5rem;
    font-family: var(--smallfont);
  }

  /* fifth Secn End */















  /* Footer */

  .footer {
    background-color: #111111;
    padding: var(--generalPadding);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:var(--greyy);
    font-family: var(--smallfont);
    font-size:0.9rem ;
    justify-content: space-between;

  }

    .footer .right {
      display: flex;
      gap: 1rem;


  }
      .footer .right a{
        text-decoration: none;
      color:var(--greyy);
      font-size: 1rem;

      }

      .footer .right a:hover{
        color: var(--coolgrn);

      } 

      